*.elc
*.eln
*~
.lsp-session*
.mc-lists.el
00testing/*
README.el
auto-save-list
custom.el
elpa/
eshell/
games/
history
network-security.data
projectile-bookmarks.eld
projectile.cache
recentf
session.*
tramp
transient/
url/
