*.bak
*.elc
*~
.lsp-session*
.mc-lists.el
00testing/*
README.el
auto-save-list
config.el
el-get/
elpa/
emojis/
eshell/*
games/
history
ido.last
projectile-bookmarks.eld
pydoc-info/*
recentf
session.*
smex-items
tramp
transient/
url/