*.bak
*.elc
*~
.lsp-session*
.mc-lists.el
.python-environments/
00testing/*
README.el
_*
ac-comphist.dat
auto-save-list
config.el
el-get/
elpa/
emojis/
eshell/*
games/
history
ido.last
projectile-bookmarks.eld
projectile.cache
pydoc-info/*
recentf
session.*
smex-items
tramp
transient/
url/