[submodule "repo/pkgbuild-mode"]
	path = repo/pkgbuild-mode
	url = https://github.com/juergenhoetzel/pkgbuild-mode
[submodule "repo/sumblimity"]
	path = repo/sumblimity
	url = https://github.com/zk-phi/sublimity
[submodule "repo/sublimity"]
	path = repo/sublimity
	url = https://github.com/zk-phi/sublimity
